    <!-- Các nút liên hệ nổi -->
    <div class="floating-contact">
        <a href="https://zalo.me/0845115765" target="_blank" class="floating-btn zalo-float" title="Chat qua Zalo"><i class="fa-solid fa-comment-dots"></i></a>
        <a href="https://m.me/Phut89iPhone" target="_blank" class="floating-btn fb-float" title="Chat qua Messenger"><i class="fab fa-facebook-messenger"></i></a>
    </div>
    <!-- Nơi hiển thị thông báo toast -->
    <div id="toast-notification"></div>
    <script src="/js/main.js"></script>
</body>
</html>
