<aside class="category-sidebar">
    <h3 class="sidebar-title">Danh mục sản phẩm</h3>
    <ul class="sidebar-menu">
        <% if (allCategories && allCategories.length > 0) { %>
            <% allCategories.forEach(cat => { %>
                <li>
                    <a href="/danh-muc/<%= cat.slug %>" class="<%= (locals.category && locals.category.id === cat.id) ? 'active' : '' %>">
                        <%= cat.name %>
                    </a>
                </li>
            <% }) %>
        <% } else { %>
            <li><a>Không có danh mục</a></li>
        <% } %>
    </ul>
</aside>